#PR Tahun Kabisat Kak Karissa

In [ ]:
def tahun_kabisat(x):
  moduled_by_400 = (x % 400 is 0)
  moduled_by_100 = (x % 100 is 0)
  moduled_by_4 = (x % 4 is 0)

  if moduled_by_400 : 
    return (x, " Merupakan Tahun Kabisat")
  elif moduled_by_400 is False:
    if moduled_by_100 :
      return (x, " bukan Tahun Kabisat")
    elif moduled_by_100 is False:
      if moduled_by_4 :
        return (x, " Merupakan Tahun Kabisat")
      else :
        return (x, "bukan Tahun Kabisat")

In [ ]:
tahun_kabisat(1200)

(1200, ' Merupakan Tahun Kabisat')

In [ ]:
tahun_kabisat(900)

(900, ' bukan Tahun Kabisat')

In [ ]:
tahun_kabisat(1324)

(1324, ' Merupakan Tahun Kabisat')

In [ ]:
tahun_kabisat(1335)

(1335, 'bukan Tahun Kabisat')

#Topic 3 - Python Structure & Data Type Assignment

---

## Data Type Declaration

1. > Create an empty variable (Points : 5)

In [ ]:
x = None

2. > Create a variable containing your name (Points : 5)

In [ ]:
name= "Chalil Al Vareel"

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [ ]:
class_room = ["Table", "Chair", "Ruller", "Whiteboard", "Students", "Teacher"]

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [ ]:
ibukota_provinsi = {
    "aceh" : "Banda Aceh",
    "sumut" : "Medan"}

## Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [ ]:
price = 12000
quantity_sold = 20
discount = 0.1 #10% 

total = (price*(1-discount))*quantity_sold
print(total)

216000.0

## List Data Operation

5. > Follow the instructions in the code blocks

In [ ]:
# Create list of countries in the world (total 7 countries) (Points : 5)

country_list = ["USA", "UK", "Ireland", "Spain", "Cyprus", "France", "Kosovo", "Portugal", "Germany", "Switzerland"]

In [ ]:
# Get 4 countries from the first index of the list (Points : 5)

print(country_list[:4])
#or
country_list[:4]

['USA', 'UK', 'Ireland', 'Spain']

['USA', 'UK', 'Ireland', 'Spain']

In [ ]:
# Append new country to the list (Points : 5)

country_list.append("Turkey")
country_list

['USA',
 'UK',
 'Ireland',
 'Spain',
 'Cyprus',
 'France',
 'Kosovo',
 'Portugal',
 'Germany',
 'Switzerland',
 'Turkey']

In [ ]:
# Drop one country from the list (Points : 5)

country_list.pop(0)
country_list

['UK',
 'Ireland',
 'Spain',
 'Cyprus',
 'France',
 'Kosovo',
 'Portugal',
 'Germany',
 'Switzerland',
 'Turkey']

In [ ]:
# Get country in the last index (Points : 5)

country_list[-1]

'Turkey'

## Dictionary Data Operation

6. >  Follow the instructions below

In [ ]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [ ]:
# Print all keys in customer (Points : 5)

print(customer.keys())

dict_keys(['name', 'age', 'gender', 'membership'])

In [ ]:
# Print all customer names (Points : 5)

print(customer["name"])

['Dio', 'Eka', 'Wayu', 'Riki']

In [ ]:
# Print the first customer name (Points : 5)

print(customer['name'][0])

Dio

In [ ]:
# Drop "age" key from the dictionary (Points : 5)

customer.pop("age")
print(customer)

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'], 'gender': [1, 0, 0, 1], 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [ ]:
#cek tipe data awal list value gender

for z in range(len(customer["gender"])):
  print(z , " is ", type(z))

0  is  <class 'int'>
1  is  <class 'int'>
2  is  <class 'int'>
3  is  <class 'int'>

In [ ]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 

#1. Ubah dulu isi dalam value yang berbentuk list integer menjadi list string
customer["gender"] = [str(a) for a in customer['gender']]

#2. Ubah dengan If_Else
for i in range(len(customer["gender"])):
  if (customer["gender"][i] == '1') :
     customer["gender"][i] = "Male"
  elif (customer["gender"][i] == '0') :
     customer["gender"][i] = "Female"
print(customer["gender"])

['Male', 'Female', 'Female', 'Male']

In [ ]:
print(customer)

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'], 'gender': ['Male', 'Female', 'Female', 'Male'], 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}